body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    padding: 40px;
    background-image: url('/images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
    position: relative; 
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.80); 
    z-index: -1;
}